.video-item {
	float: left;
	box-sizing: border-box;
	padding: 10px;
	cursor: pointer;
}

#youtube:hover .video-item {
	opacity: 0.7;
}

#youtube .video-item:hover {
	opacity: 1;
}

.video-item {
	width: 25%;
	transition: 0.3s;
}

.video-item:nth-child(4n+1) {
	clear: both;
}

.video-item img {
	max-width: 100%;
}

.video-item .title {
	display: block;
	margin-top: 0.5em;
}

.video-item:hover .title {
	font-weight: bold;
}

.loading {
	position: relative;
	top: 50%;
	left: 50%;
	display: inline-block;
	width: 128px;
	height: 128px;
	background: url('https://cdn.jsdelivr.net/wp-advanced-ajax-page-loader/2.5.12/loaders/SMALL%20-%20Circle%20Ball.gif') no-repeat;
	vertical-align: middle;
}

.pagination {
	padding: 10px 0;
	text-align: center;
	width: 100%;
}

.pagination span {
	display: inline-block;
	padding: 8px;
	margin: 0 1px;
	border: 1px solid  #ED213B;
	border-radius: 2px;
	cursor: pointer;
}

.pagination span.disabled {
	cursor: default;
}

.pagination span:hover:not(.disabled) {
	color: #fff;
	background: #ED213B;
}

.media-viewer iframe {
	width: 780px;
	height: 30em;
}